body {
  background-color: grey;
}

.gameboard {
  /*width: 36rem;*/
  /*height: 34rem;*/
  /*aspect-ratio: 1 / 1;*/
  background-color: rosybrown;
  border-color: sandybrown;
  border-width: 2rem;
  border-style: double;
  /*centers when position:absolute*/
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.tile {
  top: 1rem;
  left: 1rem;
  width: 8rem;
  height: 8rem;
  /*aspect-ratio: 1 / 1;*/
  background-color: darkseagreen;
  border-color: green;
  border-width: thick;
  font-size: larger;
  border-radius: 0.5rem;
  position: absolute;
}
.tile:hover {
  border-color: darkgreen;
  background-color: darkgreen;
}

.insert {
  background-color: indianred;
  position: absolute;
  font-size: small;
  border-radius: .2rem;
}

form {
  overflow: hidden;
  border-radius: .5rem;
  border: .2rem black dashed;
  background-color: #f2f2f2;
  padding: 1rem;
  width: 15rem;
  margin: 1rem 1rem auto;
  display: block;
  position: absolute;
  z-index: 1;
  /*left: 0;*/
  /*right: 0;*/
}
form label {
  text-align: right;
  display: inline-block;
  width: 40%;
}
form input,select {
  width: 40%;
  margin: .2rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: .5rem;
  box-sizing: border-box;
}
form input:hover,select:hover {
  border: 1px solid black;
}

form input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 1.1rem 1.3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
form input[type=submit]:hover {
  background-color: #45a049;
  border: 1px solid black;
}


.collapsible {
  /*overflow: hidden;*/
  max-height: 25rem;
  max-width: 25rem;
  transition: max-height 1s ease-in, max-width .5s ease-out;
}
.collapsed {
  /*overflow: hidden;*/
  display: block;
  max-height: 1rem;
  max-width: 8rem;
  transition: max-height .5s, max-width 1.5s;
}
.collapsibleController {
  border-radius: 1rem;
  border: 0;
}
.collapsibleController:after {
  content: '\26ED\00a0';
  color: black;
  font-weight: bold;
  font-size: large;
  float: left;
}
.collapsibleController.collapsed:after {
  content: '\26EC\00a0';
  color: black;
  font-weight: bold;
  font-size: large;
  float: left;
}


