:root {
  --tileHeight: 8rem;
  --tileWidth: 8rem;
  --num-cols: 4;
  --num-rows: 4;
  /*tile x/y are set per tile*/
  --tile-x: 0;
  --tile-y: 0
}

body {
  background-color: #6A6A6A;
}

i {
  vertical-align: bottom;
}

.gameboard {
  background-color: #D9D3BF;
  border-color: #8BB54A;
  border-width: calc(var(--tileWidth) * 1.3);
  border-style: double;
  /*centers when position:absolute*/
  position: absolute;
  /*put the game board slightly lower for header bar*/
  /*give room on right side for scoreboard*/
  margin: 5rem 15rem auto auto;
  height: calc(var(--num-rows) * var(--tileHeight));
  width: calc(var(--num-cols) * var(--tileWidth));
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -100;
}

.tile {
  /*set by js*/
  top: calc(var(--tileHeight) * var(--tile-y));
  left: calc(var(--tileWidth) * var(--tile-x));
  width: var(--tileWidth);
  height: var(--tileHeight);
  padding: 0;
  /*background-color: darkseagreen;*/
  /*border-color: green;*/
  border-width: thick;
  font-size: larger;
  border-radius: 0.5rem;
  position: absolute;
  transition: background-color 1s ease-in, rotate 1.5s, filter 1.5s, top 2s, left 2s;
  z-index: 20;

}

.insert {
  background-color: indianred;
  position: absolute;
  font-size: small;
  border-radius: .2rem;
  z-index: 10;
}

.tile.tile-road-tiles {
  background-color: #8BB54A;
  border-color: #8BB54A;
  border-width: 0;
  background-image: url(/img/4bit_road_tiles.png);
  /*background-size: 480px 500px;*/
  background-size: 500% 500%;
  background-repeat: no-repeat;
}

.tile.tile-plus {
  background-position: 3.5% 4.4%;
}

.tile.tile-t {
  background-position: 4% 35%;
}

.tile.tile-straight {
  background-position: 34.5% 35%;
}

.tile.tile-turn {
  background-position: 65.5% 35%;
}

.tile.tile-end {
  background-position: 96% 35%;
}

.tile.active-tile {
  border-color: darkblue;
  background-color: blue;
  color: white;
  border-width: unset;
}

.tile:hover {
  border-color: darkgreen;
  border-width: .1rem;
}

.tile.connected-tiles {
  /*filter: brightness(100%);*/
}
.tile.unconnected-tiles {
  filter: brightness(50%);
}

.tile.character {
  background-image: url(/img/gengar_action_figure.png);
}
