:root {
  --iconFilter: null;
  --gamepieceFilter: null;
  --color-backdrop: #8bb54a;
  filter: ;
}

#scoreboard {
  background-color: #2f3032;
  color: white;
  font-family: Arial;
  padding: .5rem;
  border: 1px solid lightgrey;
  border-radius: .5rem;
  margin: 0.5rem;
  float: right;
  width: auto;
  height: auto;
  user-select: none;
}

.player-box {
  border: .1rem solid rgba(0, 0, 0, 0);
  padding: .5rem;
  display: block;
}
.player-box.active {
  border: .1rem solid var(--color-backdrop);
  font-weight: bold;
}

.player-icon {
  max-height: 2.5rem;
  max-width: 2.5rem;
  padding-right: .7rem;
  padding-left: .3rem;
  transition: transform 1s;
  filter: var(--iconFilter);
}
.player-icon.active {
  transform: scale(1.5) translateX(.2rem);
}

.player-name {
  margin: 0;
  display: inline-block;
  width: 7rem;
  vertical-align: middle;
  padding: .4rem;
}

.player-score {
  float: right;
}

.player-status {
  /*noinspection CssInvalidPropertyValue*/
  inline-size: -webkit-fill-available;
}

.player-character {
  position: absolute;
  z-index: 30;
  transition: left 1s, top 1s, transform 2s;
  filter: var(--gamepieceFilter);
}
.player-character.active {
  filter: var(--gamepieceFilter) drop-shadow(2px 4px 6px black);
  transform: scale(1.5);
}

