form {
  border-radius: .5rem;
  border: .2rem black dashed;
  background-color: #f2f2f2;
  padding: 1rem;
  display: block;
  /*position: absolute;*/
  /*to remain at top of page*/
  position: fixed;
  z-index: 100;
  overflow: hidden;
}

form header {
  font-size: large;
  padding-bottom: .8rem;
  user-select: none;
}

@media screen and (max-width: 600px) {
  form label, input, select {
    font-size: 7vw;
  }
}

form label {
  text-align: right;
  display: inline-block;
  width: 40%;
  user-select: none;
}

form input, select {
  width: 40%;
  margin: .2rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: .5rem;
  box-sizing: border-box;
}

form input:hover, select:hover {
  border: 1px solid black;
}

form input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 1.1rem 1.3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

form input[type=submit]:hover {
  background-color: #45a049;
  border: 1px solid black;
}


.collapsible {
  overflow: hidden;
}

.collapsed {
  resize: none;
  height: 1.1rem;
  width: 6rem;
  min-height: 1.1rem;
  min-width: 6rem;
  max-height: 1.1rem;
  max-width: 6rem;
}

.expanded {
  resize: both;
  height: 25rem;
  width: 15rem;
  min-height: 25rem;
  min-width: 15rem;
  max-height: 90%;
  max-width: 90%;
}

@media screen and (max-width: 600px) {
  .expanded {
    resize: none;
    height: auto;
    width: 90%;
    max-width: 100%;
    left: 0;
    right: 0;
    margin: auto;
  }
}

/*used by the js to turn on transitions when collapsing, then removed from element*/
/*have to transition max-height as well because resize modifies el instance*/
.collapsing {
  transition: height .4s, max-height .4s, min-height .4s,
  width .8s ease-in, max-width .8s ease-in, min-width .8s ease-in;
  resize: none;
}

.expanding {
  transition: height .8s ease-in, max-height .8s ease-in, min-height .8s ease-in,
  width .2s, max-width .2s, min-width .2s;
  resize: none;
}


